.card {
  box-sizing: border-box;
  font-family: "Inter", Arial, sans-serif;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  height: max-content;
}

.card__image {
  aspect-ratio: 3 / 2;
  cursor: pointer;
}

.card__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  background: #fff;
  padding: 15px;
}

.card__id,
.card__title,
.card__price,
.card__comment,
.card__features {
  max-width: 100%;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
  margin-bottom: 10px;
}

.card__id {
  font-weight: 400;
  height: 1.5rem;
}

.card__title {
  font-weight: 900;
  height: 3rem;
  overflow: auto;
}

.card__price {
  font-weight: 400;
  height: 1.5rem;
}

.card__comment {
  font-weight: 400;
  height: 4.5rem;
  overflow: auto;
}

.card__features {
  font-weight: 400;
  height: 4.5rem;
  overflow: auto;
}

.card__gallery {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  justify-content: center;
  grid-gap: 8px 8px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100px;
  overflow: auto;
}

.card__gallery_image {
  width: 100%;
}

.card__bottom_buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin: 0;
  margin-top: 10px;
}

.card__whatsapp-button {
  width: 21px;
  height: 19px;
  background: transparent url("../images/phone.svg") center no-repeat;
  background-size: 21px 18px;
  border: none;
  padding: 0;
  margin: 0;
  align-self: flex-end;
}

.card__whatsapp-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.card__like-button {
  width: 21px;
  height: 19px;
  background: transparent url("../images/like-inactive.svg") center no-repeat;
  background-size: 21px 18px;
  border: none;
  padding: 0;
  margin: 0;
  align-self: flex-end;
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.card__delete-button {
  width: 18px;
  height: 18px;
  background: transparent url("../images/delete-icon.svg") center no-repeat;
  background-size: 18px 18px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 15px;
  padding: 0;
  margin: 0;
}

.card__delete-button:hover {
  opacity: 0.6;
}

.card__like-button_is-active {
  background: transparent url("../images/like-active.svg") no-repeat;
}
