.header {
  font-family: "Inter", Arial, sans-serif;
}

.header__nav {
  width: 100%;
  background-color: lightgray;
  border-radius: 8px;
  margin: 0;
  padding: 0;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav__list-item:hover {
  background-color: #777;
  border-radius: 8px;
}

.nav__list-link {
  width: 100%;
  text-align: left;
  border: none;
  background-color: transparent;
}

.nav__list-item .nav__list-link {
  display: block;
  padding: 10px;
  font-size: 1.5em;
  text-decoration: none;
  color: black;
}

.nav__dropdown {
  display: inline-block;
}

.nav__dropdown-content {
  display: none;
  position: absolute;
  max-width: 100%;
  background-color: lightgray;
  z-index: 1;
  border-radius: 8px;
}

.nav__dropdown-content .nav__list-link {
  display: block;
  font-size: 1.5em;
  text-decoration: none;
  color: black;
}

.nav__dropdown:hover .nav__dropdown-content {
  display: block;
}

.nav__dropdown-content .nav__list-link:hover {
  background-color: #777;
  border-radius: 8px;
}
